[submodule "extern/googletest"]
	path = extern/googletest
	url = https://github.com/google/googletest.git
[submodule "extern/NNPACK"]
	path = extern/NNPACK
	url = https://github.com/Maratyszcza/NNPACK.git
